root {
  display: block;
}

a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #116be0;
  text-decoration: none;
}

a:hover {
  background: #faf569;
}
/*
a:visited {
  color: #e70f0f;
}
*/
a:active {
  color: #050504;
}

.banner {
  background-color: #f98c55;
  height: 80px;
}

.logo {
  float: left;
  vertical-align: middle;
  margin-top: 6px;
  margin-left: 6px;
}

.title {
  font-family: serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
  color: #2929c4;
}

.menu {
  background-color: #cfcffc;
}

.tmenu td {
  margin: 10px;
  padding-right: 15px;
}

.content {
  font-family: cursive;
  font-size: 12px;
  min-height: 200px;
}

#foot {
  background-color: rgb(233, 232, 232);
  text-align: center;
  clear: both;
  position: relative;
  height: 20px;
  margin-top: -20px;
}