<%- include("header") -%>

<div class="centered" style="text-align: center;" xmlns="http://www.w3.org/1999/html">
    <h1>BOOKING CANCELLED</h1>
    <a href="/new-table" class="home-button">Book new table</a>
</div>




