<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rationale&display=swap"rel="stylesheet"
      />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
      <div class="topnav">
        <img id="logo" src="logo.png" />
        <a href="contact.html">Contact</a>
        <a href="booking.html">Booking</a>
        <a href="Menu.html">Cafe-Menu</a>
        <a class="active" href="index.html">Home</a>
      </div>
