<%- include("header") -%>

<div class="normal">
  <h1 style="text-align: center">About us</h1>
  <p style="text-align: center">
    We are a new buffet style restaurant that has opened up in Edinburgh. We
    already have extremely positive reviews, and have also received The
    "Restaurant of the year award". All of our food is halal certified. We serve
    food from a variety of cultures such as Scottish, Pakistani, Bengali,
    Chinese ...
  </p>
  <br />

  <p style="text-align: center">
    Below is our location. We are inside the Hugh-Nisbett building in
    Heriot-Watt.
  </p>
</div>

<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2236.
    299016052957!2d-3.323220922956697!3d55.90951547314262!2m3!1f0!2f0!3f0!3m2
    !1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c46af06eff31%3A0xea463bd59d93b226!2sHeriot-Watt%20University%20Edinburgh%20Campus!
    5e0!3m2!1sen!2suk!4v1762025767947!5m2!1sen!2suk"
    width="100%"
    height="20%"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</div>

<%-include("footer") -%>
