<%- include("header") -%>

<div class="centered" style="text-align: center;" xmlns="http://www.w3.org/1999/html">
    <h1>INVALID EMAIL</h1>
    <p>Please undo and try again </p>
    <br>
    <p>If the error persists, please call 013154890748</p>
</div>




