<%- include("header") -%>

<div style="padding: 16vw;">
    <div class="booking-center" style="padding-top: 0vw; text-align: left;">
        <h1 style="color:white; text-align: left;">LOGIN</h1>
        <h2 style="text-align: left; font-size:2.5vw;">Enter your Details</h2>
        <form class="login-form">
            <label style for="email" >Email</label><br>
                <input class="contact-form" type="email" id="email" name="email" required><br><br>
            <label style for="contactNum">Contact number</label><br>
                <input class="contact-form" type="tel" id="contactNum" name="contactNum" required><br><br>


        <input class="booking-button" style="padding: 2vw 15vw; " type="submit" value="Login">
        </form>


    </div>
</div>





<%-include("footer") -%>