<%- include("header") -%>

<div style="padding: 16vw;">
    <div class="booking-center" style="padding-top: 0vw; text-align: left;">
        <h1 style="color:white; text-align: left;">LOGIN</h1>
        <h2 style="text-align: left; font-size:2.5vw;">Enter your Email</h2>
        <form action="/sign-in" method="POST" class="login-form">
            <h2 style="color:white;">Email</h2>
            <input class="contact-form" type="email" id="email" name="email" required><br><br>
            <input class="booking-button" style="padding: 2vw 15vw; " type="submit" value="Login">
        </form>
    </div>
</div>






<%-include("footer") -%>

