<%- include("header") -%>
<br />

<h1 style="text-align: center; font-size: 9vw">New Table Reservation</h1>

<!-- main reservation form container -->
<div style="padding: 5vw; background-color: #0c0c0c; border: 0.4vw solid grey">
  <!-- reservation form -->
  <form action="/app.js/" method="POST" class="contact-form">
    <!-- full name input -->
    <label for="fname">Full name:</label><br />
    <input
      class="contact-form"
      type="text"
      id="fname"
      name="fname"
      required
    /><br />

    <!-- party size input (min 1, max 6) -->
    <label for="size">Party Size:</label><br />
    <input
      class="contact-form"
      type="number"
      id="size"
      name="size"
      min="1"
      max="6"
      required
    />
    <br />

    <!-- date & time input (minimum date set to today using EJS) -->
    <label for="date">Date & time of your reservation :</label><br />
    <input
      class="contact-form"
      type="datetime-local"
      id="date"
      name="date"
      min="<%= new Date().toISOString().split('T')[0] %>"
      required
    /><br />

    <!-- dropdown for selecting time slots -->
    <label for="time">Time of your reservation :</label><br />
    <select name="time" id="time">
      <option>15:00</option>
      <option>16:00</option>
      <option>17:00</option>
      <option>18:00</option>
      <option>19:00</option>
      <option>20:00</option>
      <option>21:00</option>
      <option>22:00</option>
    </select>
    <br />

    <!-- contact number input -->
    <label style for="contactNum">Your Contact number:</label><br />
    <input
      class="contact-form"
      type="tel"
      id="contactNum"
      name="contactNum"
      required
    /><br />

    <!-- email input -->
    <label style for="email">Enter your email:</label><br />
    <input
      class="contact-form"
      type="email"
      id="email"
      name="email"
      required
    /><br /><br />

    <!-- submit button -->
    <input
      class="booking-button"
      style="padding: 2vw 8vw"
      type="submit"
      value="Submit"
    />
  </form>
</div>

<%-include("footer") -%>
