<%- include("header") -%>
<div class="container" style="padding: 1vw;">
<h1>Hello <%= fullName %> </h1>
<p> Your Booking is at  <%= date %> at <%= time %></p>
    <a href="/email-change" class="booking-button" style="padding: 2vw 2vw">CHANGE EMAIL</a>
    <h2>or</h2>
    <h1 style="padding-bottom: 0">Cancel Reservation </h1>
    <form action = "/delete" method="POST" style="padding-top: 0">
        <label style for="email">Re-enter your email:</label><br />
            <input class="contact-form" type="email" id="email" name="email" required /> <br>
        <input class="home-button" style="padding: 2vw 8vw; background-color: #841623" type="submit" value="CANCEL RESERVATION" />
    </form>
</div>

</body>
</html>
